<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = 'One Hundred Ideas')"/>
<body>
<th:block th:replace="template :: header"/>

<main class="container">
    <!--    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">-->
    <!--        <div class="col-md-6 px-0">-->
    <!--&lt;!&ndash;            <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and&ndash;&gt;-->
    <!--&lt;!&ndash;                efficiently about what’s most interesting in this post’s contents.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;            <p class="lead mb-0"><a class="text-white fw-bold" href="#">Continue reading...</a></p>&ndash;&gt;-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="row mb-2">-->
    <!--        <div class="col-md-6">-->
    <!--            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
    <!--                <div class="col p-4 d-flex flex-column position-static">-->
    <!--&lt;!&ndash;                    <strong class="d-inline-block mb-2 text-primary">World</strong>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <h3 class="mb-0">Featured post</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <div class="mb-1 text-muted">Nov 12</div>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to&ndash;&gt;-->
    <!--&lt;!&ndash;                        additional content.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <a class="stretched-link" href="#">Continue reading</a>&ndash;&gt;-->
    <!--                </div>-->
    <!--&lt;!&ndash;                <div class="col-auto d-none d-lg-block">&ndash;&gt;-->
    <!--&lt;!&ndash;                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false" height="250"&ndash;&gt;-->
    <!--&lt;!&ndash;                         preserveAspectRatio="xMidYMid slice" role="img" width="200"&ndash;&gt;-->
    <!--&lt;!&ndash;                         xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>&ndash;&gt;-->
    <!--&lt;!&ndash;                        <rect fill="#55595c" height="100%" width="100%"/>&ndash;&gt;-->
    <!--&lt;!&ndash;                        <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>&ndash;&gt;-->
    <!--&lt;!&ndash;                    </svg>&ndash;&gt;-->

    <!--&lt;!&ndash;                </div>&ndash;&gt;-->
    <!--&lt;!&ndash;            </div>&ndash;&gt;-->
    <!--        </div>-->
    <!--        <div class="col-md-6">-->
    <!--            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
    <!--                <div class="col p-4 d-flex flex-column position-static">-->
    <!--&lt;!&ndash;                    <strong class="d-inline-block mb-2 text-success">Design</strong>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <h3 class="mb-0">Post title</h3>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <div class="mb-1 text-muted">Nov 11</div>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to&ndash;&gt;-->
    <!--&lt;!&ndash;                        additional content.</p>&ndash;&gt;-->
    <!--&lt;!&ndash;                    <a class="stretched-link" href="#">Continue reading</a>&ndash;&gt;-->
    <!--&lt;!&ndash;                </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                <div class="col-auto d-none d-lg-block">&ndash;&gt;-->
    <!--&lt;!&ndash;                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img" focusable="false" height="250"&ndash;&gt;-->
    <!--&lt;!&ndash;                         preserveAspectRatio="xMidYMid slice" role="img" width="200"&ndash;&gt;-->
    <!--&lt;!&ndash;                         xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>&ndash;&gt;-->
    <!--&lt;!&ndash;                        <rect fill="#55595c" height="100%" width="100%"/>&ndash;&gt;-->
    <!--&lt;!&ndash;                        <text dy=".3em" fill="#eceeef" x="50%" y="50%">Thumbnail</text>&ndash;&gt;-->
    <!--&lt;!&ndash;                    </svg>&ndash;&gt;-->

    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="row g-5">-->
    <!--        <div class="col-md-8">-->


    <article class="blog-post">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question : ${questionsPage.content}">
                <td th:text="${question.name}">Question</td>
                <td>x</td>
                <td>x</td>
            </tr>
            </tbody>
        </table>
    </article>

    <nav aria-label="Pagination" class="blog-pagination" th:if="${questionsPage.totalPages > 0}">
        <a class="btn btn-outline-primary" th:class="${pageNumber==questionsPage.number + 1} ? 'btn btn-outline-primary disabled' : 'btn btn-outline-primary'"
           th:each="pageNumber : ${pageNumbers}"
           th:href="@{''(size=${questionsPage.size}, page=${pageNumber})}"
           th:text="${pageNumber}"></a>
    </nav>

    <!--        </div>-->

    <!--    </div>-->
    <!--    </div>-->
</main>

<th:block th:replace="template :: footer"/>

</body>
</html>